
.container{
  width: 500px;
  border: 1px solid red;
  text-align: center;
  margin: 100px auto;
  padding: 20px;
  text-transform: capitalize;
border-radius: 15px;
display: flex;
flex-direction: column;

box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

